<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="Membership_Testxx" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Membership_Test;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    
      <add name="Membership_Test"
       connectionString="Data Source=C:\VidPub\source\vidPub.Tests\App_Data\Membership_Test.sdf"
       providerName="System.Data.SqlServerCE.4.0" />
 
  </connectionStrings>
  
</configuration>

